.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 66%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.logo {
    padding: auto;
    width: 100%;
    max-width: 800px;
}

.promotion-a {
    padding: 0 24px;
    border-top: 1px solid var(--border);
}

.promotion-b {
    padding: 0 24px;
    border-top: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
}

.login-input {
    display: block;
    margin: 12px 0;
}
