:root {
    --bg-code: #1d2021;
    --bg-zero: #282828;
    --bg-zero-s: #32302f;
    --text: #ffffff;
    --button-hover: #ffffff11;
    --button-click: #ffffff22;
    --border: #ffffff33;

    color: var(--text);
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-zero);
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: fit-content;
    margin: 0;
}

.main-header {
    background-color: var(--bg-zero-s);
    border-bottom: 1px solid var(--border);

    flex: 0 40px;
    display: flex;
    align-items: center;

    padding: 0 16px;
    width: 100%;
}

.main-logo {
    height: fit-content;
}

.main-nav {
    margin: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main {
    flex: 1;
    width: fit-content;
}

.main-footer {
    background-color: var(--bg-zero-s);
    border-top: 1px solid var(--border);
    flex: 0 40px;

    padding: 0 16px;
    width: 100%;
}

textarea {
    background-color: var(--bg-code);
    color: var(--text);
    resize: none;
    border: none;
}

code {
    display: inline-block;
    background-color: var(--bg-code);
    color: var(--text);
    padding: 2px;
    margin: 2px;
    border: 1px solid var(--border);
    border-radius: 4px;
}

a {
    color: #458588;
}

a:active,
a:visited {
    color: #d3869b;
}

.button {
    color: var(--text);
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    text-decoration: none;
}

.button:visited {
    color: var(--text);
}

.button:active {
    color: var(--text);
}

.ghost-button {
    background-color: transparent;
}

.ghost-button:hover {
    background-color: var(--button-hover);
}

.ghost-button:active {
    background-color: var(--button-click);
}
