:root {
    --address: #aaaaaa;
}

.main {
    display: flex;
    flex-direction: row;
}

.code-section {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--border);
}

.code {
    flex: 1;
    outline: none;
}

.submit-bar {
    padding: 0 16px;

    flex: 0 56px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-zero);
    border-top: 1px solid var(--border);
}

.ready {
    background-color: #127800;
}

.ready:hover {
    background-color: #169100;
}

.ready:active {
    background-color: #189c00;
}

.computer-section {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border);
}

.computer {
    flex: 1;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memory-tables {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.memory-table {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--bg-code);
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
}

.address-header {
    border-bottom: 1px solid var(--border);
}

.address {
    font-weight: bold;
    color: var(--address);
}

.regs-flags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.debugger {
    flex: 0 56px;
    background-color: var(--bg-zero);
    border-top: 1px solid var(--border);
    padding: 0 16px;

    display: flex;
    align-items: center;
}

.documentation {
    flex: 1;
    height: 100%;
    background-color: var(--bg-zero);
    padding: 24px;
}
