.main {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    min-width: 500px;
    width: 66%;
    max-width: 1000px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.profile {
    flex: 1;
}

.profile > h2 {
    margin-top: 0;
}

.friend-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.friend-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border);
    padding: 0 24px 24px 24px;
    width: fit-content;
}

.friend-requests,
.friends {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.friend + .friend {
    border-top: 1px solid var(--border);
}

.profile-name {
    color: var(--text);
    font-weight: bold;
}

.profile-name:hover {
    text-decoration: underline;
}
