:root {
    --bg-code: #1d2021;
    --bg-zero: #282828;
    --bg-zero-s: #32302f;
    --text: #ffffff;
    --button-primary-bg: #637436;
    --primary-hover: #788c41;
    --primary-click: #8ea54d;
    --ghost-hover: #ffffff11;
    --ghost-click: #ffffff22;
    --border: #ffffff33;
    --address: #aaaaaa;

    color: var(--text);
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: fit-content;
}

#root {
    background-color: var(--bg-zero);
    display: flex;
    flex-direction: column;
    height: 100svh;
    min-width: fit-content;
    margin: 0;
}

main {
    flex: 1;
    min-width: fit-content;
}

textarea {
    background-color: var(--bg-code);
    color: var(--text);
    resize: none;
    border: none;
}

code {
    display: inline-block;
    background-color: var(--bg-code);
    color: var(--text);
    padding: 2px;
    margin: 2px;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.text-input {
    color: var(--text);
    background-color: var(--bg-code);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.1rem;
}

a {
    color: #458588;
}

a:active,
a:visited {
    color: #d3869b;
}
